{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop
  </h3>
  <div class="section">
    This is a Weather App where users can add their own stations and information for a personalised weather overview.
  </div>
</section>