{{> menu active="home"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    WeatherTop
  </h3>
  <div class="section">
    <p>
        Sign up or Log in to view Stations and Weather Reports.
    </p>
    <p>
      Select Dashboard or About
    </p>
  </div>
</section>