{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  <div class="subtitle">
    Max Temperature: {{maxTemp.title}}
  </div>
  {{> list-reports}}
  {{> add-report}}
</section>